{% extends 'kazi/base.html' %}
{% load static %}

{% block content %}


        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Category</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="{% url 'kazi' %}">Home</a></li>
                        <li class="breadcrumb-item"><a style="cursor: pointer;">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Category</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->



    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
            <div class="row g-4">
                {% for category in categories|slice:":8" %}
                <div class="categories_home col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" href="{% url 'job_list' %}">
                        <i class="fa fa-3x {{category.bootstrap_icon}} text-primary mb-4"></i>
                        {% if category.job_subcategory == "other" %}
                            <h6 class="mb-3">{{category.other_job_subcategory}}</h6>
                        {% else %}
                            <h6 class="mb-3">{{category.job_subcategory}}</h6>
                        {% endif %}
                        <p class="mb-0">{{category.vacancy}}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Category End -->

{% endblock %}
